body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

.board {
  height: 600px;
  width: 600px;

  border: black solid 2px;

  flex-wrap: wrap;
  display: flex;
}

.cell {
  width: 200px;
  height: 200px;

  justify-content: center;
  align-items: center;
  display: flex;
}
